.wrapper {

}

.content {
    width: 80%;
    margin: 0 auto;
}

.contentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 ;
}

.heading {
    font-size: 30px;
    font-weight: 500;
}

.option {
    display: flex;

}

.search {
    border: 1px solid #ccc;
    padding: 6px;
}

.add {

}