.trainer-detail-content {
    padding: 20px 20px 0;
}

.trainer-content:not(:last-child) {
    margin-bottom: 50px;
}

.trainer-content-heading {
    padding-bottom: 5px;
    display: block;
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    color: var(--text-color);
}

table {
    width: 100%;
    text-align: center;
    color: var(--text-color);
    font-size: 18px;
}

table th {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
}

td {
    padding: 10px;
    cursor: pointer;
    /* margin: 20px; */
}

tr {
    transition: all ease 0.2s;
}

tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

table, th, td{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
}

.trainer-delete-student {
    border: none;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    opacity: 0.8;
}

.trainer-delete-student:hover {
    cursor: pointer;
    opacity: 1;
}